<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ofw.ipcdemo">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ThirdActivity"
            android:process="com.crazywah.example.progress.one" />
        <activity
            android:name=".SecondActivity"
            android:process=":one" />
        <activity android:name=".mediaplayer.activity.MediaPlayerMainActivity" />
        <activity android:name=".mediaplayer.activity.MediaPlayerSimpleActivity" />
        <activity android:name=".mediaplayer.activity.MediaPlayerUriActivity" />
        <activity android:name=".mediaplayer.activity.MediaPlayerServiceActivity" />

        <service android:name=".mediaplayer.service.OnlineMusicPlayService" />
    </application>

    <!--多媒体播放器常用的屏幕锁定权限-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

</manifest>